@charset "UTF-8";

.about .section-area.bg-black {height:auto; padding:131px 0 245px; color:#fff;}
.about .section-area.bg-black .contents-area + .contents-area {margin-top:270px;}
.about .section-area.bg-black .title-main + .about-wrap {margin-top:80px;}
.about .section-area.bg-black .title-main + .part-wrap {margin-top:275px;}
.about .section-area.bg-black .title-main + .title-main {padding-right:67px; text-align:right;}
.about .section-area.bg-black .title-main span {font-weight:700; color:#888; padding-left:0;}
.about-wrap {display:flex; flex-wrap:wrap;}
.about-wrap li {width:100%;}
.about-wrap li .about-txt-wrap .mobile-type {display:none;}
.about-wrap li .text-medium {font-weight:500;}
.about-wrap li .text-medium + .title-sub-main {margin-top:48px; word-break: keep-all;}
.about-wrap li .title-sub-main + .text-default {word-break: break-all; margin-top:24px;}
.about-wrap li:nth-child(2) {display:flex; flex-wrap:wrap; justify-content:flex-end;}
.about-wrap li + li {margin-top:140px;}
.part-wrap .part-list {display:flex; justify-content:center;}
.part-wrap .part-list li {
  position:relative; border:1px solid rgba(255,255,255,0.6); border-radius:50%; width:367px; height:367px; 
  text-align:center; box-sizing:border-box; padding-top:110px;
}
.part-wrap .part-list li::after {
  content:''; display:block; width:5px; height:5px; background:#AFE958; border-radius:50%; 
  position:absolute; bottom:-3px; left:50%; transform:translateX(-50%);
}
.part-wrap .part-list li:nth-child(2) {border:1px dashed #fff; margin:0 -40px;}
.part-wrap .part-list li .title-sub-sub + .text-default {margin-top:16px;}

@media (max-width:1280px) {
  .title-main {
    font-size:8.8vw;
    line-height:7vw;
  }
  .about .section-area.bg-black .title-main + .title-main {padding-right:0;}
}

@media (max-width:1024px) {
  .section-area.bg-black {background-size: 100px 100px;}
  .about-wrap li + li {margin-top: 100px;}
  .about .section-area.bg-black {padding: 63px 0 161px;}
  .about .section-area.bg-black .title-main + .title-main {margin-top:10px;}
  .about .section-area.bg-black .title-main + .about-wrap {margin-top: 48px;}
  .about .section-area.bg-black .contents-area + .contents-area {margin-top: 160px;}
  .about .section-area.bg-black section:nth-child(1) .title-main {font-size: 64px; line-height: 80px;}
  .about .section-area.bg-black .title-main span {padding-left: 41px;}
  .about .section-area.bg-black .title-main + .part-wrap {margin-top: 160px;}
  .part-wrap .part-list li {width: 300px; height: 300px; padding-top: 75px;}
} 

@media (max-width:920px) {
  .part-wrap .part-list li {width:250px; height:250px; padding-top:50px;}
}

@media (max-width:768px) {
  .about-wrap li .about-txt-wrap .text-default {display:none;}
  .about-wrap li .about-txt-wrap .mobile-type {display:block;}
  .about-wrap li:nth-child(1) .about-txt-wrap {max-width:465px;}
  .about-wrap li:nth-child(1) .about-txt-wrap .title-sub-main {margin-bottom:24px;}
  .about-wrap li:nth-child(2) .about-txt-wrap {max-width:310px;}
  .about .section-area.bg-black section:nth-child(1) .title-main {font-size: 64px; line-height: 80px;}
  .about .section-area.bg-black .title-main + .title-main {margin-top:5px;}
  .part-wrap .part-list li {width: 200px; height: 200px; padding-top: 43px;}
  .part-wrap .part-list li:nth-child(2) {margin:0 -24px;}
  .part-wrap .part-list li .title-sub-sub {font-size: 18px; line-height: 26px;}
  .part-wrap .part-list li .title-sub-sub + .text-default {margin-top: 8px; font-size: 14px; line-height:20px;}
} 

@media (max-width:767px) {
  .about .section-area.bg-black {padding:48px 0 161px;}
  .about .section-area.bg-black section:nth-child(1) .title-main {font-size:34px; line-height:46px;}
  .about .section-area.bg-black .title-main + .about-wrap {margin-top:40px;}
  .about-wrap li:nth-child(2) .about-txt-wrap {max-width:230px;}
  .about-wrap li .text-medium {font-weight:400;}
  .about-wrap li .text-medium + .title-sub-main {margin-top:28px;}
  .about-wrap li .about-txt-wrap .text-default {font-size:14px; line-height:20px;}
  .about-wrap li .about-txt-wrap .mobile-type br {display:none;}
  .about-wrap li .title-sub-main {font-size: 24px; line-height: 36px;}
  .about-wrap li .title-sub-main + .text-default {font-size: 14px; line-height: 20px;}
  .about-wrap li .text-medium {font-size: 14px; line-height: 20px;}
  .about .section-area.bg-black .title-main span {padding-left: 71px;}
} 

@media (max-width:630px) {
  .part-wrap .part-list {flex-direction:column;}
  .part-wrap .part-list li {margin: 0 auto;}
  .part-wrap .part-list li:nth-child(2) {margin:0 auto;}
}

@media (max-width:375px) {
  .about-wrap li:nth-child(1) .about-txt-wrap {max-width:100%;}
  .about-wrap li:nth-child(1) .about-txt-wrap .title-sub-main {max-width:210px;}
  .about-wrap li:nth-child(1) .about-txt-wrap .title-sub-main {margin-bottom:16px;}
  .about-wrap li:nth-child(1) .about-txt-wrap .title-sub-main br {display:none;}
  .about-wrap li:nth-child(1) .about-txt-wrap .text-default {max-width:286px; word-break:keep-all;}
}