@charset "UTF-8";
.section-area {position:relative; z-index:0; overflow:hidden;} 

.main .section-area.bg-black {height:996px; padding-top:131px; transition: all 0.4s;}/* 나중에 높이 변경 */
.main .section-area.bg-gray {height:887px; padding-top:270px; transition: all 0.4s;}/* 나중에 높이 변경 */

.main .title-main {
  position: relative;
  font-size: 120px;
  line-height: 100px;
  color: #fff;
  letter-spacing: -0.02em;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 1;
}
.main .title-main > * {
  display: inline-block;
  font-weight: 700;
}
.main .title-main > span:nth-child(2) {
  padding-left: 201px;
  padding-left: 15.379%;
  color: #888;
}

.section-area.bg-black .bg-article-wrap {
  position:absolute;
  top:183px;
  right:40px;
}
.section-area.bg-black .bg-article-wrap > * {
  width:367px; height:367px; border-radius:50%; background:transparent; border:1px dashed rgba(255,255,255,20%); box-sizing:border-box;
  position:absolute; top:0;
}
.section-area.bg-black .bg-article-wrap > *::after {
  content:'';
  display:block;
  width:5px;
  height:5px;
  background:#AFE958;
  border-radius:50%;
  position:absolute; bottom:-3px; left:50%; transform:translateX(-50%);
}
.section-area.bg-black .bg-article-wrap .article01 {right:0;}
.section-area.bg-black .bg-article-wrap .article02 {right:93px;}
.section-area.bg-black .bg-article-wrap .article03 {right:277px;}
.summary-wrap {
  position: relative;
}
.summary-image{
  position: absolute;
  margin-left: auto;
  padding-top: 6.46241%;
  width: 42%;
  right: 0;
  z-index: 2;
}
.summary-image-box{
  position: relative;
  overflow: hidden;
  width: 46.847%;
}
.summary-image-box::after {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 66.67%;
}
.summary-image-box > img {
  width: 100%;
  position: absolute;
  z-index: 1;
}
.summary-image-box + .summary-text-box {
  margin-top: 24px;
}
.summary-text-box {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: white;
  z-index: 2;
}
.summary-text-box p {
  font-weight: 700;
  color: white;
}
.summary-circle{
  position: absolute;
  width: calc(15.375% * 3 );
  transform: translateY(-14%);
}

.summary-circle-button-wrap {
  position: relative;
  width: 62.502%;
  z-index: 1;
  cursor: pointer;
}
.summary-circle-button-wrap::before {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 100%;
}
.summary-circle-button {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  background: #AFE958;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.summary-circle-button > p {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -.02em;
  text-align: center;
}
.summary-circle-button > p + button {
  margin-top: 8px;
  width: 48px;
  height: 48px;
  background: url(@/assets/img/icon/ic48_line_arrow.png) no-repeat;
  background-size: 100%;
  margin-bottom: 15%;
}
.summary-circle-button button span {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
.summary-circle-design {
  content: '';
  display: block;
  width: 62.502%;
  border: 1px dashed #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0%;
  z-index: 0;
  box-sizing: border-box;
}
.summary-circle-design::before {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 100%;
  border: 1px dashed #fff;
  border-radius: 50%;
  box-sizing: border-box;
}



.slide-wrap {position:relative; width:100%;}
.slide-wrap .work-list {width:100%;}
.slide-wrap .work-list > li {display:flex; justify-content: space-between;}
.slide-wrap .swiper, 
.slide-wrap .swiper .swiper-slide{overflow: initial;}

.slide-wrap .work-list > li .txt-wrap a {display:block; color:#222;}
.slide-wrap .work-list > li .txt-wrap .title-main-sub + .tech-list {margin-top:18px;}
.slide-wrap .slide-paging {position:absolute; top:0; left:55%; }/* transform:translateX(-50%); margin-left:85px; */
.slide-wrap .slide-paging span {color:#888;}
.slide-wrap .slide-paging span .count {font-size:24px; font-weight:700; line-height:36px; letter-spacing:-0.48px; color:#222; font-style:normal;}
.main .work-list > li .img-wrap {width:45%; }
.main .work-list > li .img-wrap a {width:100%; height: auto; }
.main .work-list > li ~ li{padding-top:0;}
.main .slide-wrap .work-list > li .txt-wrap {padding-top:52px; width:45%; }


.banner-wrap {position:absolute;width:100vw;left:0; bottom:47px;}
.banner-wrap ul {display:flex; padding:0 58px; font-size:0;}
/* .banner-wrap ul li + li {} */
.banner-wrap .swiper-wrapper {background: transparent !important;transition-timing-function:linear;}
.banner-wrap ul li{width: auto !important;padding:0 32px;}
.banner-wrap ul li a{display: inline-flex;width:auto;height:auto;}

.slide-wrap .work-list > li .txt-wrap .title-main-sub.mobile-type{ display: none; }


.greeting-wrap .img-box{ width: 240px; height: 160px; }
.greeting-wrap .img-box img{ width: 100%; }

.slide-wrap .work-list > li .img-wrap a img{ width: 100%; }


@media (max-width:1312px) {
  .main .section-area .title-main {
    font-size:7.7vw;
    line-height:7vw;
  }
}

@media (max-width:1172px) {
  .main .section-area .title-main-sub{ font-size: 54px; line-height: 70px; }
}



@media (max-width:1156px) {
  .slide-wrap .work-list > li .txt-wrap .title-main-sub{ font-size:50px; line-height:62px; }
}



/* tablet */
@media (max-width:1024px) {
  .section-area.bg-black { background-size:99px 99px; }
  .section-area.bg-gray { background-size:99px 99px; }
  .main .section-area.bg-black {height:683px; padding-top:67px;}/* 나중에 높이 변경 */
  .main .section-area.bg-gray {height:684px; padding-top:149px;}/* 나중에 높이 변경 */
  .section-area.bg-black .bg-article-wrap { top:97px; right:40px; }
  .section-area.bg-black .bg-article-wrap > * { width:200px; height:200px; border-radius:50%; border:1px solid rgba(255,255,255,20%); }

  .section-area.bg-black .bg-article-wrap > *::after { width:3px; height:3px; bottom:-3px; }

  .section-area.bg-black .bg-article-wrap .article01 {right:0;}
  .section-area.bg-black .bg-article-wrap .article02 {right:51px;}
  .section-area.bg-black .bg-article-wrap .article03 {right:150px;}

  
  .section-area .summary-image{
    padding-top: 5.732%;
  }
  .section-area .summary-text-box {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
  }
  .section-area .summary-text-box p {
    font-weight: 500;
  }
  .section-area .summary-circle{
    width: calc(11.288% * 3 );
  }

  .section-area .summary-circle-button > p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
  }



  .slide-wrap .work-list > li .img-wrap a img{ width: 100%; }
  .slide-wrap .work-list > li .txt-wrap {padding-top:52px; }
  .slide-wrap .work-list > li .txt-wrap .title-main-sub.mobile-type{ display: none; }
  .slide-wrap .work-list > li .txt-wrap .title-main-sub{ display: block; font-size: 34px; line-height: 46px; letter-spacing: -0.68px; }
  .slide-wrap .work-list > li .txt-wrap .tech-list{ font-size: 14px; line-height: 20px; letter-spacing: -0.28px; }
  .slide-wrap .work-list > li .txt-wrap .tech-list .text-default{ font-size: 14px; }
  .slide-wrap .work-list > li .txt-wrap .title-main-sub + .tech-list {margin-top:16px;}
  .banner-wrap { bottom:85px;}
  .banner-wrap ul { padding:0 0px; }
  .greeting-wrap .img-box{ width: 200px; height: 132px; }
}

/* ipad */
@media (max-width:768px) {
  .main .section-area.bg-black {height:959px; padding-top:63px;}/* 나중에 높이 변경 */
  .main .section-area.bg-gray {height:auto; padding:176px 0 247px;}/* 나중에 높이 변경 */


  .summary-image{
    position: inherit;
    margin: 0;
    width: 100%;
  }
  .summary-text-box p {
    font-weight: 500;
  }
  .summary-image-box {
    padding-top: 8.14%;
    width: 200px;
  }
  .summary-circle{
    position: relative;
    width: 300px;
    margin: 80px auto 0;
    transform: none;
  }
  .section-area .summary-circle,
  .summary-circle{
    position: relative;
    width: 330px;
    margin: 80px auto 0;
    transform: none;
  }
  .summary-circle-button-wrap, .summary-circle-design {
    width: 200px;
  }
  .slide-wrap{ padding: 0 54px; }
  .slide-wrap .work-list{ /*position: absolute;*/ margin-top: 16px; }
  .slide-wrap .slide-paging { left:0; transform:translateX(0); margin-left:54px;}
  .slide-wrap .work-list > li{ display: block; }
  .slide-wrap .work-list > li + li { padding-top: 0 !important; }
  .slide-wrap .work-list > li .img-wrap a{ width: 580px; height: 375px; }
  .slide-wrap .work-list > li .txt-wrap {padding-top:24px; padding-left:0;}
  .banner-wrap { bottom:40px;}
  .banner-wrap ul { padding:0 51px; }
  .slide-wrap .work-list > li .txt-wrap .title-main-sub.mobile-type{ display: block; }
  .slide-wrap .work-list > li .txt-wrap .title-main-sub{ display: none; }
  .greeting-wrap .img-box{ width: 200px; height: 132px; }
  .main .work-list > li .img-wrap {width:100%; }
  .main .slide-wrap .work-list > li .txt-wrap { width: 100%; }

  .main .slide-wrap .work-list > li .txt-wrap{ padding-top: 24px; }
} 


/* Mobile */
@media (max-width:767px) {
  .main .section-area.bg-black {height:959px; padding-top:48px;}/* 나중에 높이 변경 */
  .main .section-area.bg-gray { height:auto; padding:176px 0 247px;}/* 나중에 높이 변경 */  
  /* .main .section-area.bg-black .title-main{ font-size: 34px; line-height: 32px; letter-spacing: -0.68px; }
  .section-area.bg-black .title-main span { padding-left:56px; } */
  .section-area.bg-black .bg-article-wrap { top:113px; right:0; }
  

  .main .slide-wrap .swiper{overflow: clip;}
  .main .slide-wrap .swiper .swiper-slide{overflow: hidden;}
  .main .slide-wrap{ display: flex;flex-wrap: wrap-reverse;padding: 0; }
  .main .slide-wrap .slide-paging { position:relative; margin-left:0;}
  .main .slide-wrap .work-list > li .img-wrap a{ width: 100%; height: 100%; margin: 0 auto; }
  .main .slide-wrap .work-list > li .txt-wrap .title-main-sub{ font-size: 24px; line-height: 36px; letter-spacing: -0.48px; }
  .main .slide-wrap .work-list > li .txt-wrap{ padding-top: 16px; }
  .main .slide-wrap .work-list > li .txt-wrap .title-main-sub + .tech-list{ margin-top: 4px; }
  .banner-wrap ul > li > a img{ height: 24px; }
  
}
@media (max-width:430px) {
  .summary-text-box p {
    font-weight: 400;
  }
  .section-area .summary-circle,
  .summary-circle{
    width: 216px;
  }
  .summary-circle-button-wrap, .summary-circle-design {
    width: 120px;
    height: 120px;
  }
  
  .section-area .summary-circle-button > p,
  .summary-circle-button > p {
    font-size: 14px;
    line-height: 20px;
  }
  
  .section-area .summary-circle-button > p + button,
  .summary-circle-button > p + button {
    width: 24px;
    height: 24px;
  }

}



@media (max-width:375px) {
  .main .section-area.bg-black {height:704px; padding-top:48px;}/* 나중에 높이 변경 */
  .main .section-area.bg-gray { height:auto; padding:116px 0 180px;}/* 나중에 높이 변경 */ 


  .section-area.bg-black .bg-article-wrap > * { width:120px; height:120px; border-radius:50%; border:1px solid rgba(255,255,255,20%); }
  .section-area.bg-black .bg-article-wrap .article01 {right:0;}
  .section-area.bg-black .bg-article-wrap .article02 {right:16px;}
  .section-area.bg-black .bg-article-wrap .article03 {right:75px;}


  .main .slide-wrap .work-list > li .txt-wrap{ padding-top: 16px; }

  .banner-wrap ul li + li{ margin-left:40px }
}

@media (max-width:371px) {
}

