@charset "UTF-8";
/* 뷰 내장형 transition */
.popup-enter-active,
.popup-leave-active{transition: opacity 0.25s linear;}
.popup-enter-from,
.popup-leave-to{opacity: 0;}
.popup-enter-active .pop-content-wrap,
.popup-leave-active .pop-content-wrap{transition: transform 0.25s cubic-bezier(0.5, 0, 0.5, 1);}
.popup-enter-from .pop-content-wrap,
.popup-leave-to .pop-content-wrap{transform: scale(0.6) translateY(-20%);}

/* 기존 작업물 */
.pop-wrap{position:fixed;top:0;left:0;width:100%;height:100%;background: #000;z-index:9999;}
.pop-header{ padding-top: 26px; }
.pop-header .inner { display: flex; justify-content: flex-end; }
.pop-header .close-btn{ display: inline-block; }
.pop-header .close-btn span{ position: relative; display: inline-block; font-weight: 500; line-height: 32px; color:#fff; padding-right: 40px; }
.pop-header .close-btn span::after{ content: ''; position: absolute; right: 0; top: 0; display: block; width:32px; height: 32px; background: url(@/assets/img/icon/ic32_line_close_white.png)no-repeat; background-size: 100%; } 
.pop-content-wrap .pop-content{ height: calc(100vh - 52px ); display: flex; align-items: center; }
.slide-controll{ max-width: 1360px; margin: 0 auto; }
.pop-slide-box{ position: relative; width: 860px; height: 500px;border: 8px solid #666; border-radius: 30px; margin:0 auto; overflow: hidden; transition: height 0.2s; }
.pop-slide-box .detail-list-wrap{ display: flex; flex-wrap: nowrap; }
.pop-slide-box .detail-list{  width: 860px; height: 500px; min-width:100%; }
.pop-slide-box .detail-list div{ width: 100%; height: 100%; overflow: hidden; }
.pop-slide-box .detail-list img{ width: 100%; height: auto; margin-top: -4px; }

.pop-slide-box.mobile-type{ width:320px; height: 568px; border:none; }
.pop-slide-box.mobile-type::before{ position: absolute; content: ''; width:320px; height: 568px; top: 0; left:0; background: url(@/assets/img/work/img_device_mobile.png)no-repeat; background-size: 100%; z-index: 10; pointer-events: none;}
.pop-slide-box.mobile-type .detail-list{  width: 320px; height: 568px; min-width:100%; }
.pop-slide-box.mobile-type .detail-list img{ height:100%; margin-top: 0; }
.detail .slide-paging{ display: flex; align-items: stretch; justify-content: center;  margin-top: 78px; color: #888; font-size: 14px; }
.detail .slide-paging .text-sub{ margin: 0 32px; }
.detail .slide-paging .text-sub em{ font-style: normal; }
.detail .slide-paging .text-sub .count{ color:#fff; font-size: 24px; }
.detail .slide-paging button span{ position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip-path: (0 0,0 0,0 0) ; }
.detail .slide-paging .prev-btn{ width: 48px; height: 48px; margin-top: -16px; background: url(@/assets/img/icon/ic48_line_prev_white.png)no-repeat; background-size: 100%; }
.detail .slide-paging .next-btn{ width: 48px; height: 48px; margin-top: -16px; background: url(@/assets/img/icon/ic48_line_next_white.png)no-repeat; background-size: 100%; }

/* tablet */
@media (max-width:1024px) {
    .pop-content-wrap .pop-content.mobile-type{ padding-top: 51px; }
    .pop-slide-box{width: 680px; height: 396px;}
    .pop-slide-box .detail-list{width: 680px; height: 396px;}
    .pop-slide-box.mobile-type{ width:260px; height: 462px;  }
    .pop-slide-box.mobile-type::before{ width:260px; height: 462px;  }
    .pop-slide-box.mobile-type .detail-list{  width: 260px; height: 462px; }
}

/* ipad */
@media (max-width:768px) {
    .pop-header{ padding-top: 16px; }
    .pop-header .inner{ padding:0 16px; }
    /* .pop-content-wrap .pop-content{ height: calc(100vh - 48px );  } */
    .pop-header .close-btn span {text-indent: -9999px; font-size: 0; overflow: hidden;}
}

@media (max-width:708px) {
    .pop-content-wrap .pop-content{ padding:0 16px 0 16px; }
    .pop-content-wrap .pop-content.mobile-type{ padding: 0 16px 0 16px; }
    .pop-slide-box{ width: calc(100vw - 32px); height: calc(60.5vw - 32px); }
    .pop-slide-box .detail-list{width: 100%; height: auto;}
}

/* Mobile */
@media (max-width:450px) {
    .pop-content .slide-controll{height: 100%;}
    .pop-content .slide-controll .pop-slide-box{position:relative;top:calc(50% - 51px);transform: translateY(-50%);border: 4px solid #666;}
    .detail .slide-paging .prev-btn{ width: 24px; height: 24px; margin: 0; }
    .detail .slide-paging .next-btn{ width: 24px; height: 24px; margin: 0; }
    .detail .slide-paging{ position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); margin-bottom: 40px; }
    .detail .slide-paging .text-sub{ margin: 0 26px; }

    .pop-slide-box.mobile-type{ width:200px; height: 356px;  }
    .pop-slide-box.mobile-type::before{ width:200px; height: 356px;  }
    .pop-slide-box.mobile-type .detail-list{  width: 200px; height: 356px; }
}