@charset "UTF-8";


.work-list::after { content: ''; display: block; width: 0px; height: 0px; clear: both; }
.work-list-item { padding-top: 240px; width: 44.492%; }
.work-list > li:nth-of-type(odd) { float: left; }
.work-list > li:nth-of-type(even) { float: right; }
.work-list > li:nth-of-type(1) { padding-top: 0px; }
.work-list > li:nth-of-type(2) { padding-top: 280px; }

/* tablet */
@media (max-width:1024px) {
  .work-list-item { padding-top: 140px; }
  .work-list > li:nth-of-type(2) { padding-top: 174px; }
} 

/* ipad */
/* @media (max-width:767px) {

} */
/* Mobile */
/* @media (max-width:375px) { */
  @media (max-width:767px) {
  .work-list { float: none; }
  .work-list-item { width: 100%; }
  .work-list > li + li { padding-top: 80px !important; }
}
