@charset "UTF-8";


.tabs-header { padding-bottom: 80px; }
.tabs-list { display: flex; align-items: center; flex-direction: row; }
.tabs-list-item + .tabs-list-item { margin-left: 32px; }
.tabs-list-item-button { display: block; }
.tabs-list-item-button > span { display: inline-block; font-size: 24px; line-height: 36px; letter-spacing: -0.48px; font-weight: bold; color: #888888; }
.tabs-list-item-button.active > span, .tabs-list-item-button:active > span, .tabs-list-item-button:focus > span { color: #222222; }
.tabs-panels { width: 100%; }
.tabs-panel { display: none; }
.tabs-panel.active { display: block; }

/* tablet */
@media (max-width:1024px) {
  .tabs-header { padding-bottom: 48px; }
  .tabs-list-item-button > span { font-size: 18px; line-height: 26px; letter-spacing: 0.36px; }
} 

/* ipad */
/* @media (max-width:767px) {

} */
/* Mobile */
/* @media (max-width:375px) { */
  @media (max-width:767px) {
  .tabs-header { padding-bottom: 40px; }
  .tabs-list-item + .tabs-list-item { margin-left: 24px; }
  .tabs-list-item-button > span { font-size: 16px; line-height: 24px; letter-spacing: -0.42px; }
}
